{{define "content"}}<div class="mcol news">
    <h1>{{.ErrorTitle}}</h1>
    <div class="intro">
        <p>{{.ErrorMsg}}</p>
        <p><a href="https://indycar.xyz/" title="Startsidan">Gå tillbaka till startsidan</a></p>
    </div>
</div>
{{end}}
